@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: #11111b;
  --color-foreground: #d8b4e2; /* aesthetic soft purple */

  --color-primary: #89b4fa;
  --color-primary-foreground: #11111b;

  --color-accent: #cba6f7;
  --color-accent-foreground: #11111b;

  --color-muted: #6b7280;
  --color-muted-foreground: #bac2de;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-background text-foreground tracking-tight;
  }
}
