@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: #0b0f10;
  --color-foreground: #a6e3a1;

  --color-primary: #a6e3a1;
  --color-primary-foreground: #0b0f10;

  --color-accent: #89dceb;
  --color-accent-foreground: #0b0f10;

  --color-muted: #6b7280;
  --color-muted-foreground: #9ca3af;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-background text-foreground tracking-tight;
  }
}
